PORT_APP=8082
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_HOST_PORT=27017
MONGO_DB=mongo_restapi_go_db
MONGO_USER=admin
MONGO_PASSWORD=P4ssW0rS3cr3t
RATE_LIMIT_READ_PER_MINUTE=30
RATE_LIMIT_WRITE_PER_MINUTE=10